<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3"><%=admin.name%></p>
<a href="/admin/ADDDoctor" class="btn btn-info"> ADD Doctor</a>
<a href="/admin/DisplayDoctor" class="btn btn-info"> Display Doctors</a>

<br><br>
<a href="/admin/ADDPatient" class="btn btn-info"> ADD Patient</a>
<a href="/admin/DisplayPatient" class="btn btn-info"> Display Patient</a>


<br><br>
<a href="/customer/DisplayCustomer" class="btn btn-info"> Display Customers</a>
<br>
<a href="/logout" class="btn btn-secondary">Logout</a>
