<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3"><%=doctor.name%></p>
<p class="lead mb-3"><%=doctor.email%></p>
<p class="lead mb-3"><%=doctor.contactNo%></p>
<br>
<a href="/logout" class="btn btn-secondary">Logout</a>
