<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<p class="lead mb-3">Welcome <%= role.role %></p>
<% if ( role.role == "customer") { %>
    <a href="/customer/dashboard" class="btn btn-info"> NEXT</a>
    <%} else if(role.role=="Admin"){ %>
        <a href="/admin/dashboard" class="btn btn-info"> NEXT</a>
    <% } else if(role.role=="doctor"){%>
        <a href="/doctor/dashboard" class="btn btn-info"> NEXT</a>
     <% } else if(role.role=="patient"){%>
            <a href="/patientdashboard" class="btn btn-info"> NEXT</a>
    <% }%>
    <a href="/logout" class="btn btn-secondary">Logout</a>