<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/views/mystyle.css">
</head>
<body>
<h1  style="color: #f44336;
margin-top: 170px;
text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 110px;
  text-shadow: 4px 4px 4px rgb(235, 230, 230);
"> BENEFACTORS</h1>
<% include ./partials/messages %>
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<a href="/register"><button style="width:auto;">No Account?Register</a></button>
<div id="id01" class="modal" >
  <form class="modal-content animate" action="/login" method="POST">
  <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/views/pexels-julia-m-cameron-6994992.jpg" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <label for="email"><b>Email</b></label>
      
      <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            required
          />
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        
      <button  id="btn1" type="submit">Submit</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
</body>
</html>
